flows.json
[{"id":"4035b379.afceac","type":"tab","label":"Desafios Aula 9","disabled":false,"info":""},{"id":"aa9fec0a.385508","type":"tab","label":"Desafio1 Aula10","disabled":false,"info":""},{"id":"5c405250.ecf9d4","type":"tab","label":"Desafio2 Aula10","disabled":false,"info":""},{"id":"7d356182.cd8928","type":"tab","label":"Desafio3 Aula10","disabled":false,"info":""},{"id":"d2dc923.458c67","type":"tab","label":"Desafio4 Aula10","disabled":false,"info":""},{"id":"3a02d27d.ad735e","type":"serial-port","serialport":"/dev/tnt1","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"1f48da89.b4e415","type":"ui_tab","name":"SP","icon":"dashboard","disabled":false,"hidden":false},{"id":"b00c44c1.5354f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#168388","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#168388","edited":true},"page-titlebar-backgroundColor":{"value":"#168388","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#21c2ca","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#168388","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Consumo da API Open Weather Map","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":10,"gy":10,"cx":10,"cy":10,"px":0,"py":0}}},{"id":"45eb2920.e856c8","type":"ui_group","name":"Vento","tab":"1f48da89.b4e415","order":6,"disp":false,"width":"6","collapse":false},{"id":"c7a8e166.dd714","type":"ui_group","name":"Temp","tab":"1f48da89.b4e415","order":3,"disp":false,"width":"6","collapse":false},{"id":"fe874ea6.1b9db","type":"ui_group","name":"Temp Min","tab":"1f48da89.b4e415","order":4,"disp":false,"width":"6","collapse":false},{"id":"dcfa88d7.c57a4","type":"ui_group","name":"Temp Max","tab":"1f48da89.b4e415","order":5,"disp":false,"width":"6","collapse":false},{"id":"a22b6fe1.0551c","type":"ui_group","name":"Sensacao Termica","tab":"1f48da89.b4e415","order":2,"disp":false,"width":"6","collapse":false},{"id":"73103994.1cdde","type":"ui_group","name":"Umidade Relativa","tab":"1f48da89.b4e415","order":7,"disp":false,"width":"6","collapse":false},{"id":"cd19d058.6b3898","type":"ui_tab","name":"RJ","icon":"dashboard","disabled":false,"hidden":false},{"id":"a1a031fe.4c2ea8","type":"ui_group","name":"Titulo","tab":"cd19d058.6b3898","order":1,"disp":false,"width":"6","collapse":false},{"id":"9944fa8e.670cf","type":"ui_group","name":"Vento","tab":"cd19d058.6b3898","order":6,"disp":false,"width":"6","collapse":false},{"id":"94a01f0d.89f7","type":"ui_group","name":"Temp","tab":"cd19d058.6b3898","order":3,"disp":false,"width":"6","collapse":false},{"id":"8e224b95.dd1ae8","type":"ui_group","name":"Temp Min","tab":"cd19d058.6b3898","order":4,"disp":false,"width":"6","collapse":false},{"id":"f9486654.3075c8","type":"ui_group","name":"Temp Max","tab":"cd19d058.6b3898","order":5,"disp":false,"width":"6","collapse":false},{"id":"5de10f57.eb0cd","type":"ui_group","name":"Sensacao Termica","tab":"cd19d058.6b3898","order":2,"disp":false,"width":"6","collapse":false},{"id":"8f8ecff.cc71cb","type":"ui_group","name":"Umidade Relativa","tab":"cd19d058.6b3898","order":7,"disp":false,"width":"6","collapse":false},{"id":"406f7f34.a83b6","type":"ui_group","name":"Titulo","tab":"1f48da89.b4e415","order":1,"disp":false,"width":"6","collapse":false},{"id":"a4c2f688.53c8e","type":"ui_group","name":"Arduino","tab":"ff9cfd7b.5aefa8","order":8,"disp":false,"width":"6","collapse":false},{"id":"ff9cfd7b.5aefa8","type":"ui_tab","name":"Desafio 2","icon":"dashboard","disabled":false,"hidden":false},{"id":"fd5fa5d4.a71e78","type":"ui_group","name":"Arduino","tab":"ff9cfd7b.5aefa8","order":2,"disp":false,"width":"6","collapse":false},{"id":"aa244ff4.80e7e8","type":"ui_tab","name":"Desafio 3","icon":"dashboard","disabled":false,"hidden":false},{"id":"4901c263.890b9c","type":"ui_group","name":"Desafio 3","tab":"aa244ff4.80e7e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"44d04438.be281c","type":"ui_tab","name":"Desafio 4","icon":"dashboard","disabled":false,"hidden":false},{"id":"d1441c39.6801e","type":"ui_group","name":"Desafio 4","tab":"44d04438.be281c","order":1,"disp":false,"width":"6","collapse":false},{"id":"5d60f548.e547b4","type":"inject","z":"4035b379.afceac","name":"Inicio","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Inicio","payload":"OlaMundo","payloadType":"msg","x":150,"y":240,"wires":[["f183485f.8a10d8"]]},{"id":"f183485f.8a10d8","type":"http request","z":"4035b379.afceac","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q=Sao+Paulo&units=metric&appid=3f64f3dbfd975e77f88b6d528115795c","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":240,"wires":[["ff47cf9b.7ed78"]]},{"id":"ff47cf9b.7ed78","type":"json","z":"4035b379.afceac","name":"","property":"payload","action":"","pretty":false,"x":530,"y":240,"wires":[["71e72932.549be8"]]},{"id":"71e72932.549be8","type":"change","z":"4035b379.afceac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":240,"wires":[["3ae269c5.a52546"]]},{"id":"3ae269c5.a52546","type":"debug","z":"4035b379.afceac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":240,"wires":[]},{"id":"c166aaaa.9a3ae","type":"inject","z":"4035b379.afceac","name":"Inicio","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Inicio","payload":"payload","payloadType":"msg","x":150,"y":360,"wires":[["a7fc7c1a.5bff"]]},{"id":"a7fc7c1a.5bff","type":"http request","z":"4035b379.afceac","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q=Sao+Paulo&units=metric&appid=3f64f3dbfd975e77f88b6d528115795c","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":360,"wires":[["55556d4e.bddf9c"]]},{"id":"55556d4e.bddf9c","type":"json","z":"4035b379.afceac","name":"","property":"payload","action":"","pretty":false,"x":530,"y":360,"wires":[["91db3a29.408a7"]]},{"id":"8bd2416c.d2c4c8","type":"debug","z":"4035b379.afceac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":360,"wires":[]},{"id":"91db3a29.408a7","type":"function","z":"4035b379.afceac","name":"","func":"msg.payload = {\n    \"temperatura\": msg.payload.main.temp,\n    \"min\": msg.payload.main.temp_max,\n    \"max\": msg.payload.main.temp_min,\n    \"vento\": msg.payload.wind.speed,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":360,"wires":[["8bd2416c.d2c4c8"]]},{"id":"c0f48992.de1b1","type":"inject","z":"aa9fec0a.385508","name":"Inicio","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"Inicio","payload":"OlaMundo","payloadType":"msg","x":230,"y":160,"wires":[["9b1df07b.d12b78"]]},{"id":"9b1df07b.d12b78","type":"http request","z":"aa9fec0a.385508","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q=Sao+Paulo&units=metric&appid=3f64f3dbfd975e77f88b6d528115795c","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":160,"wires":[["eba75084.9a38b"]]},{"id":"eba75084.9a38b","type":"json","z":"aa9fec0a.385508","name":"","property":"payload","action":"","pretty":false,"x":630,"y":160,"wires":[["6d6b2b27.835a54","9f42ed90.ae9f6","89f6b351.f9efb","8354429d.69438","5497e7ef.8238","3b8a7fd1.696558","1367b08b.edcf7f"]]},{"id":"6d6b2b27.835a54","type":"debug","z":"aa9fec0a.385508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":160,"wires":[]},{"id":"9f42ed90.ae9f6","type":"change","z":"aa9fec0a.385508","name":"vento","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":260,"wires":[["e04f894.2482178"]]},{"id":"89f6b351.f9efb","type":"change","z":"aa9fec0a.385508","name":"Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":300,"wires":[["83d1123d.c0f948"]]},{"id":"8354429d.69438","type":"change","z":"aa9fec0a.385508","name":"Temp Min","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":340,"wires":[["201bbab3.206126"]]},{"id":"5497e7ef.8238","type":"change","z":"aa9fec0a.385508","name":"Temp Max","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":380,"wires":[["c8239ec3.0d7348"]]},{"id":"e04f894.2482178","type":"ui_gauge","z":"aa9fec0a.385508","name":"","group":"45eb2920.e856c8","order":0,"width":0,"height":0,"gtype":"compass","title":"Vento","label":"Km/h","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e67a00","#ca3838"],"seg1":"","seg2":"","x":1030,"y":260,"wires":[]},{"id":"83d1123d.c0f948","type":"ui_gauge","z":"aa9fec0a.385508","name":"","group":"c7a8e166.dd714","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperatura Atual","label":"Graus","format":"{{value}}","min":"-10","max":"50","colors":["#00b500","#e67a00","#ca3838"],"seg1":"","seg2":"","x":1070,"y":300,"wires":[]},{"id":"201bbab3.206126","type":"ui_gauge","z":"aa9fec0a.385508","name":"","group":"fe874ea6.1b9db","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperatura Minima","label":"Graus","format":"{{value}}","min":"-10","max":"50","colors":["#00b500","#e67a00","#ca3838"],"seg1":"","seg2":"","x":1080,"y":340,"wires":[]},{"id":"c8239ec3.0d7348","type":"ui_gauge","z":"aa9fec0a.385508","name":"","group":"dcfa88d7.c57a4","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperatura Maxima","label":"Graus","format":"{{value}}","min":"-10","max":"50","colors":["#00b500","#e67a00","#ca3838"],"seg1":"","seg2":"","x":1080,"y":380,"wires":[]},{"id":"3b8a7fd1.696558","type":"change","z":"aa9fec0a.385508","name":"SensacaoTermica","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.feels_like","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":420,"wires":[["185cb8b8.62655f"]]},{"id":"185cb8b8.62655f","type":"ui_gauge","z":"aa9fec0a.385508","name":"","group":"a22b6fe1.0551c","order":0,"width":0,"height":0,"gtype":"donut","title":"Sensacao Termica","label":"Graus","format":"{{value}}","min":"-10","max":"50","colors":["#00b500","#e67a00","#ca3838"],"seg1":"","seg2":"","x":1070,"y":420,"wires":[]},{"id":"1367b08b.edcf7f","type":"change","z":"aa9fec0a.385508","name":"Umidade","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":460,"wires":[["8565e89a.ebc088"]]},{"id":"8565e89a.ebc088","type":"ui_gauge","z":"aa9fec0a.385508","name":"","group":"73103994.1cdde","order":0,"width":0,"height":0,"gtype":"wave","title":"Umidade Relativa","label":"Porcento","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":460,"wires":[]},{"id":"194bf539.3e401b","type":"http request","z":"aa9fec0a.385508","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q=Rio+de+Janeiro&units=metric&appid=3f64f3dbfd975e77f88b6d528115795c","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":580,"wires":[["cd42683b.5542d8"]]},{"id":"e3313643.0cc15","type":"inject","z":"aa9fec0a.385508","name":"Inicio","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"Inicio","payload":"OlaMundo","payloadType":"msg","x":210,"y":580,"wires":[["194bf539.3e401b"]]},{"id":"cd42683b.5542d8","type":"json","z":"aa9fec0a.385508","name":"","property":"payload","action":"","pretty":false,"x":610,"y":580,"wires":[["a93716e9.40934","808229f0.cc176","64d28fad.a244b","eb3c61e2.b5335","5f86c547.74bf34","99333ecb.a426d","dcedf35e.f27da8"]]},{"id":"a93716e9.40934","type":"debug","z":"aa9fec0a.385508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":580,"wires":[]},{"id":"808229f0.cc176","type":"change","z":"aa9fec0a.385508","name":"vento","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":680,"wires":[["7fd1f53f.2a422c"]]},{"id":"64d28fad.a244b","type":"change","z":"aa9fec0a.385508","name":"Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":720,"wires":[["796b0a29.14a064"]]},{"id":"eb3c61e2.b5335","type":"change","z":"aa9fec0a.385508","name":"Temp Min","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":760,"wires":[["99f77e0d.fceb88"]]},{"id":"5f86c547.74bf34","type":"change","z":"aa9fec0a.385508","name":"Temp Max","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":800,"wires":[["32aac138.6403c6"]]},{"id":"7fd1f53f.2a422c","type":"ui_gauge","z":"aa9fec0a.385508","name":"","group":"9944fa8e.670cf","order":0,"width":0,"height":0,"gtype":"compass","title":"Vento","label":"Km/h","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e67a00","#ca3838"],"seg1":"","seg2":"","x":1010,"y":680,"wires":[]},{"id":"796b0a29.14a064","type":"ui_gauge","z":"aa9fec0a.385508","name":"","group":"94a01f0d.89f7","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperatura Atual","label":"Graus","format":"{{value}}","min":"-10","max":"50","colors":["#00b500","#e67a00","#ca3838"],"seg1":"","seg2":"","x":1050,"y":720,"wires":[]},{"id":"99f77e0d.fceb88","type":"ui_gauge","z":"aa9fec0a.385508","name":"","group":"8e224b95.dd1ae8","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperatura Minima","label":"Graus","format":"{{value}}","min":"-10","max":"50","colors":["#00b500","#e67a00","#ca3838"],"seg1":"","seg2":"","x":1060,"y":760,"wires":[]},{"id":"32aac138.6403c6","type":"ui_gauge","z":"aa9fec0a.385508","name":"","group":"f9486654.3075c8","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperatura Maxima","label":"Graus","format":"{{value}}","min":"-10","max":"50","colors":["#00b500","#e67a00","#ca3838"],"seg1":"","seg2":"","x":1060,"y":800,"wires":[]},{"id":"99333ecb.a426d","type":"change","z":"aa9fec0a.385508","name":"SensacaoTermica","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.feels_like","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":840,"wires":[["205af9c1.074876"]]},{"id":"205af9c1.074876","type":"ui_gauge","z":"aa9fec0a.385508","name":"","group":"5de10f57.eb0cd","order":0,"width":0,"height":0,"gtype":"donut","title":"Sensacao Termica","label":"Graus","format":"{{value}}","min":"-10","max":"50","colors":["#00b500","#e67a00","#ca3838"],"seg1":"","seg2":"","x":1050,"y":840,"wires":[]},{"id":"dcedf35e.f27da8","type":"change","z":"aa9fec0a.385508","name":"Umidade","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":880,"wires":[["9c8b9694.1fda68"]]},{"id":"9c8b9694.1fda68","type":"ui_gauge","z":"aa9fec0a.385508","name":"","group":"8f8ecff.cc71cb","order":0,"width":0,"height":0,"gtype":"wave","title":"Umidade Relativa","label":"Porcento","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e67a00","#ca3838"],"seg1":"","seg2":"","x":1050,"y":880,"wires":[]},{"id":"f109f0d1.1dfb48","type":"ui_text","z":"aa9fec0a.385508","group":"a1a031fe.4c2ea8","order":0,"width":"6","height":"15","name":"txtRj","label":"Rio de Janeiro","format":"{{msg.payload}}","layout":"col-center","x":1010,"y":640,"wires":[]},{"id":"56fec620.a6639","type":"ui_text","z":"aa9fec0a.385508","group":"406f7f34.a83b6","order":0,"width":"6","height":"15","name":"txtSP","label":"São Paulo","format":"{{msg.payload}}","layout":"col-center","x":1030,"y":220,"wires":[]},{"id":"2b1a6cbe.490554","type":"serial in","z":"5c405250.ecf9d4","name":"","serial":"3a02d27d.ad735e","x":120,"y":160,"wires":[["c5fd3621.1a64e"]]},{"id":"c5fd3621.1a64e","type":"json","z":"5c405250.ecf9d4","name":"","property":"payload","action":"","pretty":false,"x":300,"y":160,"wires":[["92bd77c1.4512b8","158dd37f.493eb5"]]},{"id":"92bd77c1.4512b8","type":"change","z":"5c405250.ecf9d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":220,"wires":[["784a9c61.4dfdd4"]]},{"id":"158dd37f.493eb5","type":"debug","z":"5c405250.ecf9d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":160,"wires":[]},{"id":"784a9c61.4dfdd4","type":"ui_chart","z":"5c405250.ecf9d4","name":"","group":"fd5fa5d4.a71e78","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":240,"wires":[[]]},{"id":"1df619b3.e732de","type":"serial out","z":"7d356182.cd8928","name":"","serial":"3a02d27d.ad735e","x":600,"y":120,"wires":[]},{"id":"6cdaf8b.40b6e08","type":"ui_switch","z":"7d356182.cd8928","name":"","label":"switch","tooltip":"","group":"4901c263.890b9c","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"topic","topicType":"str","style":"","onvalue":"{\"led\":\"liga\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"led\":\"desliga\"}","offvalueType":"json","officon":"","offcolor":"","animate":false,"x":430,"y":80,"wires":[["1df619b3.e732de"]]},{"id":"4009afa2.da44c8","type":"serial out","z":"d2dc923.458c67","name":"","serial":"3a02d27d.ad735e","x":700,"y":160,"wires":[]},{"id":"ce4a5e56.7c6908","type":"ui_slider","z":"d2dc923.458c67","name":"","label":"Potenciômetro","tooltip":"","group":"d1441c39.6801e","order":0,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"255","step":1,"x":230,"y":120,"wires":[["2c74bfa7.da46a8"]]},{"id":"2c74bfa7.da46a8","type":"function","z":"d2dc923.458c67","name":"","func":"msg.payload = {\n    \"led\":msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":140,"wires":[["4009afa2.da44c8"]]}]